p {
    margin: 20px;
}

.logo {
    height: 75px;
    width: 50px;
    margin-left: 35px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
    color: white;
}

.navbar-nav {
    margin-bottom: 600px;
}

body {
 overflow: hidden;

}

.container-fluid {
    height: 2000px;
    background-image: url(https://4kwallpapers.com/images/wallpapers/forest-mountains-pine-trees-winter-peak-4480x2520-583.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 2000px;
    margin: 0;
}
.navbar {
    width: 25%;
    height: 100vh;
    align-items: flex-start;
}

.navbar-brand {
    margin-left: .5rem;
    font-size: 1.5rem;
}

img{
    height:60px;
    width: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.welcome {
    color: rgb(238, 238, 238);
}

.btn-success {
    margin-bottom: 50px;
    padding: 5px 30px 5px 30px;
    margin-left: 47px;
    background-color: rgb(199, 107, 32);    border: none;
}

.col-xxl-2 {
    background-color: rgba(0, 0, 0, 0.6);
    height: 2000px;

}

.nav-link {
    color: #ececec;
}

.col-xxl-4 {
    background-color: #292C33;
    padding-top: 10px;
    height: 2000px;

}
.col-xxl-5 {
    background-color: #434854;
    height: 2000px;
}


.btn-dark {
    font-size: 14px;
    border: none;
    margin-top: 11px;
    padding: 10px;
    background-color: rgb(199, 107, 32);
    vertical-align: top;
}

.SearchBar {
    padding-right: 300px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    vertical-align: top;
    
}

.email1 {
    background-color:#292C33;
    border: none;
    padding: 50px;
    margin-top: 50px;
}

.email2 {
    background-color:#434854;
    border: none;
    padding: 50px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.toandfrom {
    font-size: 10px;
}

.emailheader {
    font-size: 35px;
}

.response {
    margin-top: 500px;
    position: inherit;

}

.email-icon {
    margin-right: 10px;
}

.email-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

textarea {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-right: 30px;
}

.btn-secondary {
    background-color: rgb(228, 119, 30);
    border: none;
}